.sidebar {
  width: 13.5%;
  background-color:rgba(33, 32, 36);
  position:absolute;
  height: 100%;
  text-align: left;
  box-shadow: 5px 10px 8px #888888;
}
.sidebar a {
    display: block;
    color: whitesmoke;
    padding: 16px;
    text-decoration: none;
    padding: 20px 0px 20px 50px;
    font-size: 130%;
    font-weight: 400;
    align-content: center;
    margin-bottom: 10%;
    
} 
.sidebar a.active {
  color: rgba(55,153,240,255);
}
.sidebar a:hover{
  background-color: rgba(245,245,245,255);
  color:black;
}
.sidebaricon{
    margin-right: 5%;
}
#sidenav_title{
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:xx-large;
    font-style: bold;
    font-weight: 1000;
    font-stretch:ultra-expanded;
    padding: 30px 20px 20px 60px;
}
