.Home {
    box-shadow: 5px 10px 8px #888888;
    
  
}

.navbar{
   // background-color: #f1f1f1;
   background-color:white;
}
.logo{
    width: 21vh;
    margin-left: 5vh;
}

#icon_text{
   margin-right: 30px;
   font-size:large;
   color:rgb(37, 150, 190);
   font-family:'Courier New', monospace;
   font-weight:100;
}
#icon{
    margin-right: 2px;
    margin-bottom: 2px;
 }

////// 
.sidebar {
  width: 28vh;
  background-color:rgba(33, 32, 36);
  position: fixed;
  height: 100%;
  text-align: left;
  box-shadow: 5px 10px 8px #888888;
  
}

.sidebar a {
    display: block;
    color: whitesmoke;
    padding: 16px;
    text-decoration: none;
    padding: 40px 13px 10px 40px;
    font-size: 2.2vh;
    font-weight: 400;
    align-content: center;
    
}
 
.sidebar a.active {
 
  color: rgba(55,153,240,255);
}

.sidebar a:hover{
  background-color: rgba(245,245,245,255);
  color:black;
}
#sidebaricon{
    margin-right: 2vh;
}



#sidenav_title{
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:xx-large;
    font-style: bold;
    font-weight: 1000;
    font-stretch:ultra-expanded;
    margin-top: 3vh;
    margin-bottom: 6vh;
    margin-left: 4vh;
}

/////////
.center {
    text-align:left;
    margin-left: 28vh;
    border: 0px solid gray;
    box-shadow: 0px 1px 1px #888888;
    height: 28vh;
  }
 #usertitle{
    height: 12vh; 
 }

#highlightbycolor{
    color: rgb(37, 150, 190);
}
#textalign{
    padding-top: 6vh;
    padding-left: 2vh;
    font-size: x-large;
}
.headings{
    font-size: x-large;
    padding-top: 3vh;
    padding-left: 2vh;
}
.card{
    margin-left: 2vh;
    height: 15vh;
}
.col-sm-4{
    padding-right: 5vh ;
}
