.Home {}
.userTitle{
    margin-right: 100px;
    color: gray;
}
.nav-buttons{
    align-content: center;
}
.logo{
    width: 15%;
    border-radius: 10%;
}
.card-header-style{
    color: blue;
}
.card-body-style{
    width: 100vh;
    margin-left: 45vh;
}