.p-color,
.back-login-p {
  color: #707c8d;
}

.forgot-button {
  margin-bottom: 30px;
}

.back-login-p {
  display: block;
  text-align: center;
  text-decoration: none;
}

.line {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.7em 0;
  padding: 0;
}

.link-area {
  text-decoration: none;
}
.Form {
  background-color: #eaedf4;
  height: 100vh;
}

.form-main-page {
  background-color: #fff;
  padding: 40px;
}

.form-row {
  text-align: left;
  position: relative;
  top: 15vh;
}

.form-header {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 4px;
  color: #4588f0;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}
